.navbar{
    justify-content: space-between;
}
span{
    color: brown;
}
h1{
    color: red;
    font-size: 35px;
    font-size: bold;
    font-family: sans-serif;
    
}
h3{
    font-size: 25px;
    font-family: sans-serif;
    text-align: center;
}
#description2{
   box-sizing: border-box;
   border-radius: 12px;
   border: brown;
   background-image: url("./images/graphiti5.jpeg");
   background-repeat: no-repeat;
   background-size: cover;
   text-align: center;
   color: white;
   height: 500px;
   padding-top: 80px;


}
.container{
    padding-top: 50px;
    text-align: center;


}
#description1{
    color: white;
    background-color: rgb(5, 5, 95);

}

