.navbar{
    justify-content: space-between;
}
.logo{
    font-size: 25px;
    padding-left: 50px;
    font-family: 'Pacifico', cursive;
}

span{
    color: brown;
}
h1{
    color: red;
    font-size: 35px;
    font-size: bold;
    font-family: sans-serif;
    
}
h3{
    font-size: 25px;
    font-family: sans-serif;
    text-align: center;
}
#description2{
   box-sizing: border-box;
   border-radius: 12px;
   background-image: url("./images/graphiti5.jpeg");
   background-repeat: no-repeat;
   background-size: cover;
   text-align: center;
   color: white;
   height: 670px;
   padding-top: 30px;


}
.container{
    padding-top: 10px;
    text-align: center;


}
#description1{
    background-color: rgb(27, 27, 100);
    color: white;
    text-align: center;
    padding-top: 30px;

}
.img{
    color: red;
}
#footer{
    background-color:rgb(55, 148, 143);
    color: white;
    width: 100%;
    text-align: center;
    height: 50px;
}
#submitButton{
    border-radius: 12px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    background-color: rgb(3, 3, 194);
    font-size: 15px;
}
#result{
    font-size: 25px;
    color: rgb(24, 24, 236);
}

